%h3 Welcome

.ticker-info-inputs
  = simple_form_for CrpytoInfo.new ,remote: false, url:'#', method: :post do |f|
    = f.input :ticker, placeholder: 'enter ticker', label: 'ticker'
    =f.input :date, as: :date
    = f.button :submit, 'Submit',{class:'confirm-btn'}

.errors
  No coins under that ticker.

.ticker-info
  %table{style:'width:100%;'}
    %tr
      %td Ticker Name
      %td.name
    %tr
      %td Market Cap
      %td.market-cap
    %tr
      %td top 50?
      %td.market-rank
    %tr
      %td Event 30+
      %td.event-30 TBA
    %tr
      %td Event 30+
      %td.event-30-close TBA
    %tr
      %td Top 5 exchange
      %td.top-5-exchange TBA
    %tr
      %td all time high range
      %td.all-time-high
    %tr
      %td last seven high range
      %td.last-seven

